<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/tracklist">Tracklist</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
</header>