<header>
  <nav>
    <a href="/">Home</a>
    <ul>
      <li><a href="/user/cart">Cart</a></li>
      <li><a href="/user/tracklist">Tracklist</a></li>
      <% if ( showSignup ) { %>
      <li><a href="/user/signup">Sign up</a></li>
      <% } %>
      <% if ( showLogin ) { %>
      <li><a href="/user/login">Log in</a></li>
      <% } %>
      <% if ( showLogout ) { %>
      <li><a href="/user/logout">Log out</a></li>
      <% } %>
    </ul>
  </nav>
</header>