<header>
  <nav>
    <ul>
      <div class="home-link-container">
        <li><b><a href="/">Eva's Mart</a></b></li>
      </div>
      <div class="user-link-container">
        <li><a href="/cart">Cart</a></li>
        <% if (typeof user !== "undefined" ) { %>
          <% if (user.isSeller) { %>
          <li><a href="/product/create">Put on New Product</a></li>
          <% } %>
          <li><a href="/user/profile">Profile</a></li>
          <li class="user-link"><a href="/user/logout">Log out</a></li>
        <% } else { %>
          <li class="user-link"><a href="/user/signup">Sign up</a></li>
          <li class="user-link"><a href="/user/login">Log in</a></li>
        <% } %>
      </div>
    </ul>
  </nav>
</header>