<!-- if login: show username -->
<% if (typeof user !== 'undefined') { %>
<div class="page-header">Hello <%= user.username %></div>
<% } else { %>
<div class="page-header">Hello world.</div>
<% } %>

<%- include('partials/message') %>
<%- include('./partials/products', { products }) %>