<h1>Log in</h1>

<% if (typeof email !== 'undefined' && typeof password !== 'undefined' ){ %>
<form action="/user/login" method="POST">
  <div>
    <label for="email">Email: </label>
    <input type="email" value="<%= email %>" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" value="<%= password %>" id="password" name="password" required>
  </div>
  <button type="submit">Log in</button>
</form>
<% } else { %>
<form action="/user/login" method="POST">
  <div>
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Log in</button>
</form>
<% } %>

<a href="/user/resetPassword">Forget password?</a>

<% if (typeof message !== 'undefined') { %>
<h3><%= message %></h3>
<% } %>