<% if (typeof user !== 'undefined') { %>

<div class="page-header">Reset Password</div>
<form action="/user/resetPassword/?_method=PUT" method="POST">
  <!-- hidden email input -->
  <input type="hidden" value="<%= user.email %>" id="email" name="email" required>
  <!-- email display -->
  <div>
    <label for="emailDisplay">Email: </label>
    <input type="email" value="<%= user.email %>" disabled id="emailDisplay" name="emailDisplay" required>
  </div>
  <div>
    <label for="newPassword">New Password: </label>
    <input type="password" id="newPassword" name="newPassword" required>
  </div>
  <div>
    <label for="confirmNewPassword">Confirm New Password: </label>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
  </div>
  <button type="submit">Set New Password</button>
</form>

<% } else if (typeof message !== 'undefined' && message.includes("Password reseting email has been sent") ) { %>

<h3><%= message %></h3>

<% } else { %>

<div class="page-header">Enter email for reseting password.</div>
<form action="/user/resetPassword" method="POST">
  <label for="email">Email: </label>
  <input type="email" id="email" name="email" required>
  <button type="submit">Submit</button>
</form>

<% if (typeof message !== 'undefined' && message !== "Password reseting email has been sent to your email.") { %>
<h3><%= message %></h3>
<% } %>

<% } %>