<div class="page-header">Put on New Product</div>
<form action="/product/create" method="POST">
  <%- include("_formFields") %>
  <button type="submit">Post</button>
</form>

<%- include('../partials/message') %>